#buttonDiv {
    text-align: center;
    width: auto;
}
footer {
    text-align: center;
    width: auto;
}
#header {
    font-size: 40px;
    font-weight: 800;
    height: 90px;
    margin-bottom: 10px;
    margin-top: 50px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    width: auto;
    word-wrap: break-word;
}
.imageDiv {
    background-image: url("../Images/56660803-toilet-paper-icon-pop-art-style-colorful-icons-set-.jpg");
    background-size: contain;
    height: 500px;
    margin-top: 20px;
    width: auto;
}


